input{
	text-align: center;
}
.user-area *{
	text-align: center;
}
#validation-alert {
	font-size: 10px;
	color: red;
}

#letter-guessed {
	width: 80px;
	margin: auto;
}

#btn-reset {
	display: none;
}
.img-container{
	background-color: white;
}